<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Titulo:</strong>
    <%= tarefa.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= tarefa.descricao %>
  </p>

  <p>
    <strong>Validade:</strong>
    <%= tarefa.validade %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <%= tarefa.disciplina.titulo %>
  </p>

</div>
